@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #101010;
  --muted: #bfbfbf;
  --muted-foreground: #707070;
  --border: #f2f2f2;
  --accent: #3d6763;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);

  --font-body: var(--font-karla);
  --font-heading: var(--font-dm-sans);

  --breakpoint-xs: 500px;
  --breakpoint-xxs: 350px;
}

@utility container {
  @apply px-6 mx-auto;
}

body {
  background: var(--background);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
